.app {
    width: 1000px;
    max-width: calc(100% - 2rem);
    margin: 0 auto 1rem;
}

.header {
    display: flex;
    padding: 1.5rem 1rem 0.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    position: sticky;
    top: 0;
    backdrop-filter: blur(7px);
}

.cartIcon {
    position: relative;
}

.cartItemCount {
    position: absolute;
    background: #4472c4;
    color: white;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    transform: translate(50%, -50%); 
}